*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    margin-top: 50px;
    height: 80vh;
}
#data{
    width: 40vh;
    height: 30vh;
    resize: none;
}
.data{
    width: 40vh;
    height: 30vh;
    overflow-y: scroll;
}
.label{
    width: 30vh;
    line-height: 1.8rem;
    margin: auto;
    font-size: 22px;
}

.inputs{
    display: inline-block;
}
.flex{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
}
.flex-outp{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.center-items{
    margin-bottom: 50px;
}
.logo{
    width: 9%;
    height: auto;
    margin: auto;
}
img{
    height: 100%;
    width: 100%;
}
.topText{
    width: 100%;
    text-align: center;
    line-height: 1.8rem;
    display: block;

}
label{
    width: 100%;
    text-align: center;

}
.centerBtn{
    max-width: 100px;
}
footer{
    background-color: #33445e;
    color: white;
    height: 15vh;
}
a{
    color: white;
    text-decoration: none;
}

.flexFooter{
    padding-top: 25px;
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.gitHub{
    font-size: 22px;
}
.gitHub:hover{
    color: black;
    text-decoration: none;
}

/* MEDIA */

@media screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
        margin-top: 25px;
    }

    .center-items{
        margin-bottom: 25px;
        zoom: 50%;
    }

    .home{
        margin-top: 0;
    }
    .result{
        margin-top: 10px;
    }

    footer{
        margin-top: 15vh;
    }
}
@media screen and (min-width: 769px) {
    #data{
        width: 50vh;
        height: 60vh;
    }
    .data{
        width: 50vh;
        height: 60vh;
    }
    .inputs{
        zoom: 65%;
    }

}
@media screen and (min-width: 1024px) {
    #data{
        width: 50vh;
        height: 60vh;
    }
    .data{
        width: 50vh;
        height: 60vh;
    }
    .inputs{
        zoom: 70%;
    }

}

@media only screen and (min-width: 1170px){
    #data{
        width: 60vh;
        height: 70vh;
    }
    .data{
        width: 60vh;
        height: 70vh;
    }
    .inputs{
        zoom: 80%;
    }
}

@media only screen and (min-width: 1325px){
    #data{
        width: 75vh;
        height: 60vh;
    }
    .data{
        width: 75vh;
        height: 60vh;
    }
    .inputs{
        zoom: 80%;
    }
}