*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    margin-top: 50px;
}
#data{
    width: 70vh;
    height: 60vh;
}
.data{
    width: 70vh;
    height: 60vh;
    overflow-y: scroll;
}
.label{
    width: 30vh;
    line-height: 0%;
    margin: auto;
    font-size: 22px;
}

.inputs{
    display: inline-block;
}
.flex{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-outp{
    display: flex;
    flex-direction: column;
}
.center-items{
    margin-bottom: 50px;
}
.logo{
    width: 15%;
    height: auto;
    margin: auto;
}
img{
    height: 100%;
    width: 100%;
}
h2{
    width: 100%;
    text-align: center;
    font-size: 22px;

}
label{
    width: 100%;
    text-align: center;

}